<!DOCTYPE html>
<html>
  <head>
    <title><%= pageId %></title>
    <script src="https://cdn.bootcss.com/react/16.10.2/umd/react.production.min.js"></script>
    <script src="https://cdn.bootcss.com/react-dom/16.10.2/umd/react-dom.production.min.js"></script>
    <link rel="stylesheet" href="http://officespace2.oss-cn-beijing.aliyuncs.com/<%= pageId %>.css">
  </head>
  <body>
    <div id="root">loading...</div>
    <script src="http://officespace2.oss-cn-beijing.aliyuncs.com/<%= pageId %>.js"></script>
  </body>
</html>
