body {
  overflow: hidden;
}
.app-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.code-layout {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.tab-wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 36px;
  background: rgb(38, 38, 38);
  color: #fff;
}

.tab-item {
  display: flex;
  width: 145px;
  line-height: 36px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 10px;
  align-items: center;
  background: rgb(68, 68, 68);
  cursor: pointer;
}

.tab-item--selected {
  background: rgb(30, 30, 30);
}

.tab-icon {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.dot-icon {
  width: 36px;
  height: 36px;
  margin-left: 25px;
}

.reload-tips {
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 13px;
  color: #b5b5b5;
}

.code-wrap {
  flex: 1;
  overflow: scroll;
}
.code-container > .CodeMirror,
.code-container{
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.browser-layout {
  display: flex;
  width: 50vw;
  height: 100vh;
  flex-direction: column;
}

.browser-header {
  display: flex;
  height: 36px;
  width: 100%;
  background: rgb(38, 38, 38);
  color: #fff;
  align-items: center;
  padding: 0 5px;
  box-sizing: border-box;
}

.browser-icon {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

.github-icon {
  width: 22px;
  height: 22px;
  margin-left: 12px;
  margin-right: 8px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
  vertical-align: bottom;
}

.github-icon:hover {
  opacity: 1;
}

.url-container {
  position: relative;
  flex: 1;
  height: 28px;
  line-height: 26px;
  background: rgb(85, 85, 85);
  border-radius: 4px;
  padding: 0 5px;
  font-size: 13px;
  margin-right: 8px;
}

.loading-icon {
  position: absolute;
  right: 5px;
  width: 26px;
  height: 26px;
  animation: donut-spin 1.2s linear infinite;
}

.share-button {
  height: 28px;
  padding: 0 15px;
  line-height: 28px;
  cursor: pointer;
  background: rgb(85, 85, 85);
  font-size: 13px;
  font-weight: 600;
  border-radius: 2px;
}
.share-button:hover {
  background: #6b6b6b;
}

.browser-wrap {
  flex: 1;
  width: 100%;
  overflow: scroll;
}

.preview-browser {
  border: 0;
  width: 100%;
  height: 100%;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}